@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/general/clearfix";

$default-box-shadow-spread: 2px;

$contentWidth:335px;
$contentHeight:220px;

html, body {
	background-color: #333;
	text-align: center;
}

html, body, td, a, a:link, a:visited {
	color: #ccc;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	line-height: 12px;
}

a {
	text-decoration: none;

	&:hover {
    	color: #fff;
    }
}

#masthead {
	margin-bottom:12px;

	.tagline {
		color:#fff;
		font-size: 12px;
		margin:-4px 0 0 0;
	}

	.logo {
		margin:0 auto 17px auto;
		background: transparent url(/abcdWordmark224x91.gif) no-repeat top left;
		width:224px;
		height:91px;
	}
}

//main purpose of this div is to center content horizontally and vertically
#content {
    text-align: center;
    /*border: 1px dotted red;*/
    position: absolute;
    left: 50%;
    top: 50%;

    width: $contentWidth;
    height: $contentHeight;
    margin-left: -$contentWidth / 2;
    /* Half the width of the DIV tag which is 50 pixels */
    margin-top: -$contentHeight / 2;
    /* Half the height of the DIV tag which is also 50 pixels */
}

table {
	td {
		text-align:left;
	}

	tr.middleRow td {
		padding-bottom: 5px;
	}

    &.contact {
	    table-layout:fixed;
		text-align:left;
		margin-top: 10px;
		width: 190px;
		margin: 10px auto 0 auto;

		.col1 {
			width:60px;
		}
	}
}