@import "global";
html,body {
	height:100%;
}

.pastProjects {
	width:330px;
	max-width: 90%;
	text-align:left;
	margin:0 auto 22px auto;
	padding:5px 5px 3px 5px;
	background-color:lighten(#333, 3%);
	@include border-radius(5px);
	@include single-box-shadow(darken(#333, 2%));//,0px,0px,2px,10px);

	.label {
	    float:left;
	 }

	.list {
	    float:left;
    	text-align:left;
    	width:220px;
    	display:none;
    }

    @include clearfix();
}