@import "global";

.pastProjects {
	width:325px;
	text-align:left;
	/*margin:0 auto 22px auto;*/
	padding:5px;
	background-color:lighten(#333, 2%);
	@include border-radius(5px);
	@include single-box-shadow(darken(#333, 2%));//,0px,0px,2px,10px);

	.label {
	    float:left;
	 }

	.list {
    	text-align:left;
    	width:215px;
    	display:none;
    }

    @include clearfix();
}