/*
	This stylesheet gets activated by CSS Smedia queries for when the (non-retina) iPhone is in portrait orientation (media query is based on width alone)
*/
@import "global";

$contentWidth:320px;
$contentHeight:250px;

//override
#content {
	/*border:1px solid green;*/

    width: $contentWidth;
    height: $contentHeight;
    margin-left: -$contentWidth / 2;
    /* Half the width of the DIV tag which is 50 pixels */
    margin-top: -$contentHeight / 2;
    /* Half the height of the DIV tag which is also 50 pixels */
}

.pastProjects {
	width:360px;
	max-width: 65%;
	text-align:left;
	margin:0 auto 20px auto;
	padding:5px;
	background-color:lighten(#333, 2%);
	@include border-radius(5px);
	@include single-box-shadow(darken(#333, 2%));//,0px,0px,2px,10px);

	.label {
	    /*border:1px dotted red;*/
	 }

	.list {
    	text-align:left;
    	width:250px;
    	display:none;
    }

    @include clearfix();
}