@import "compass/utilities/general/clearfix";

body {
	padding-top:20px;
}

h3 {
	line-height: 30px;
	//margin-top:0;
}

.logo {
	background: transparent url(/abcdLogo75px_transparent.png) no-repeat top left;
	width:  75px;
	height: 57px;
	float:left;
	margin-right: 12px;
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
	.logo {
		background: transparent url(/abcdLogo75px_transparent@2x.png) no-repeat top left;
		background-size: 75px 57px;
	}
}

.youtube-player-container {
    margin-bottom: 10px;
    background-color: #000;
}

.youtube-player-column {
	width:512px;
}

@media (max-width: 320px) {
    .youtube-player-column {
		width:100%;
    }
	.youtube-player-container {
		margin-left: -20px;
		width:100%;
	}
}

@media (max-width: 480px) {
    .youtube-player-column {
        width:100%;
    }
	.youtube-player-container {
		margin-left: -20px;
		width:100%;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.youtube-player-column {
		width:512px;
	}

	.info {
		width:512px;
	}
}

@media (min-width: 1200px) {
	.youtube-player-column {
		width:512px;

	}
}

.row {
	margin-bottom:45px;
}

.work-sample {
	display: block;
	margin-bottom: 40px;
}

//video directive --- start
//styles mentioned here https://github.com/brandly/angular-youtube-embed
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
//video directive --- end