/*
	This stylesheet gets activated by CSS Smedia queries for when the (non-retina) iPhone is in portrait orientation (media query is based on width alone)
*/
/* line 17, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Users/ablair/.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/_global.scss */
html, body {
  background-color: #333;
  text-align: center;
}

/* line 16, ../sass/_global.scss */
html, body, td, a, a:link, a:visited {
  color: #ccc;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
}

/* line 23, ../sass/_global.scss */
a {
  text-decoration: none;
}
/* line 26, ../sass/_global.scss */
a:hover {
  color: #fff;
}

/* line 31, ../sass/_global.scss */
#masthead {
  /*margin:0 auto 12px auto;*/
  margin-bottom: 12px;
  /*width:270px;*/
}
/* line 36, ../sass/_global.scss */
#masthead .tagline {
  color: #fff;
  font-size: 12px;
  margin: -4px 0 0 0;
}
/* line 42, ../sass/_global.scss */
#masthead .logo {
  margin: 0 auto 17px auto;
  background: transparent url(/abcdWordmark224x91.gif) no-repeat top left;
  width: 224px;
  height: 91px;
}

/*#logo {*/
/*margin:0 auto 6px auto;*/
/*background: url(../abcdWordMark.gif) no-repeat;*/
/*width:224px;*/
/*height:91px;*/
/*}*/
/* line 58, ../sass/_global.scss */
#content {
  text-align: center;
  /*border: 1px dotted red;*/
  position: absolute;
  left: 50%;
  top: 50%;
  /*border:1px dotted red;*/
  width: 335px;
  height: 220px;
  margin-left: -167.5px;
  /* Half the width of the DIV tag which is 50 pixels */
  margin-top: -110px;
  /* Half the height of the DIV tag which is also 50 pixels */
}

/* line 76, ../sass/_global.scss */
table td {
  text-align: left;
}
/* line 80, ../sass/_global.scss */
table tr.middleRow td {
  padding-bottom: 5px;
}
/* line 84, ../sass/_global.scss */
table.contact {
  table-layout: fixed;
  text-align: left;
  margin-top: 10px;
  width: 190px;
  margin: 10px auto 0 auto;
}
/* line 91, ../sass/_global.scss */
table.contact .col1 {
  width: 60px;
}

/* line 10, ../sass/screen-iPhonePortrait.scss */
#content {
  /*border:1px solid green;*/
  width: 320px;
  height: 250px;
  margin-left: -160px;
  /* Half the width of the DIV tag which is 50 pixels */
  margin-top: -125px;
  /* Half the height of the DIV tag which is also 50 pixels */
}

/* line 21, ../sass/screen-iPhonePortrait.scss */
.pastProjects {
  width: 360px;
  max-width: 65%;
  text-align: left;
  margin: 0 auto 20px auto;
  padding: 5px;
  background-color: #383838;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px 2px #2e2e2e;
  -webkit-box-shadow: 0px 0px 5px 2px #2e2e2e;
  -o-box-shadow: 0px 0px 5px 2px #2e2e2e;
  box-shadow: 0px 0px 5px 2px #2e2e2e;
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../sass/screen-iPhonePortrait.scss */
.pastProjects .label {
  /*border:1px dotted red;*/
}
/* line 35, ../sass/screen-iPhonePortrait.scss */
.pastProjects .list {
  text-align: left;
  width: 250px;
  display: none;
}
