/* line 3, ../sass/main.scss */
body {
  padding-top: 20px;
}

/* line 7, ../sass/main.scss */
h3 {
  line-height: 30px;
}

/* line 12, ../sass/main.scss */
.logo {
  background: transparent url(/abcdLogo75px_transparent.png) no-repeat top left;
  width: 75px;
  height: 57px;
  float: left;
  margin-right: 12px;
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  /* line 21, ../sass/main.scss */
  .logo {
    background: transparent url(/abcdLogo75px_transparent@2x.png) no-repeat top left;
    background-size: 75px 57px;
  }
}
/* line 27, ../sass/main.scss */
.youtube-player-container {
  margin-bottom: 10px;
  background-color: #000;
}

/* line 32, ../sass/main.scss */
.youtube-player-column {
  width: 512px;
}

@media (max-width: 320px) {
  /* line 37, ../sass/main.scss */
  .youtube-player-column {
    width: 100%;
  }

  /* line 40, ../sass/main.scss */
  .youtube-player-container {
    margin-left: -20px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 47, ../sass/main.scss */
  .youtube-player-column {
    width: 100%;
  }

  /* line 50, ../sass/main.scss */
  .youtube-player-container {
    margin-left: -20px;
    width: 100%;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  /* line 57, ../sass/main.scss */
  .youtube-player-column {
    width: 512px;
  }

  /* line 61, ../sass/main.scss */
  .info {
    width: 512px;
  }
}
@media (min-width: 1200px) {
  /* line 67, ../sass/main.scss */
  .youtube-player-column {
    width: 512px;
  }
}
/* line 73, ../sass/main.scss */
.row {
  margin-bottom: 45px;
}

/* line 77, ../sass/main.scss */
.work-sample {
  display: block;
  margin-bottom: 40px;
}

/* line 84, ../sass/main.scss */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

/* line 93, ../sass/main.scss */
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/* line 97, ../sass/main.scss */
.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
